.vscode
images/*
images_gps/*
https://www.serradacantareirahoje.com/2022/07/25/24-de-julho-%ef%bf%bc%ef%bf%bc%ef%bf%bc%ef%bf%bc-aniversario-de-240-anos-do-bairro-de-santana-canhao-antiaereo-40mm-m1947-c60-bofors-uma-homenagem-do-exercito-brasile/